<div id="title">
    <h1>{{title}}</h1>
</div>
<link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
<div id="files">
    <ul style="list-style: none;">
    {% for file, file_key in unpacked.items %}
        <li><button class="file" onclick="show_item('{{ file }}')">{{ file }}</button></li>
        <div id="{{ file }}"  style="display:none">
            <ul style="list-style: none;">
                {% for version, version_key in file_key.items %}
                <li><button class="file" onclick="show_item('{{ file }}{{ version }}')">{{ version }}</button></li>
                    <div id="{{ file }}{{ version }}" style="display:none">
                        <ul style="list-style: none;">
                            {% for item, item_key in version_key.items %}
                                <li>{{ item }}: {{ item_key }}</li>
                            {% endfor %}
                        </ul>
                        <form action="/download_file" method="post">{% csrf_token %}
                            <div style="display:none">
                                <label for="share">share</label>
                                <input id="share" type="text" name="share" value={{ version_key.share }}><br>
                                <label for="file">file</label>
                                <input id="file" type="text" name="file" value={{ file }}><br>
                                <label for="path">path</label>
                                <input id="path" type="text" name="path" value={{ version_key.path }}><br>
                                <label for="version">version</label>
                                <input id="version" type="text" name="version" value={{ version }}><br>
                                <input id="enc_id" type="text" name="enc_id" value={{ version_key.encrypted_id }}><br>
                                <label for="enc_id">path</label>
                            </div>
                                <input type="submit" value="Download">
                        </form>
                    </div>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </ul>
</div>
<div id="commands">
    <form action="/new_dir" method="get">
        <input type="submit" value="Watch new Directory">
    </form>
</div>
<div id="Exit">
    <form action="/exit" method="get">
        <input type="submit" value="Shutdown">
    </form>
</div>

<script>
function show_item(targ) {
    var x = document.getElementById(targ);
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>