<h1>{{title}}</h1>


<form action="/get_new_dir" method="post">{% csrf_token %}
    <label for="name">Name for directory to watch</label>
    <input id="name" type="text" name="name"><br>
    <label for="path">Path to Directory</label>
    <input id="path" type="text" name="path"><br>
    <input type="submit" value="OK">
</form>