<h1>{{title}}</h1>


<form action="/get_setup" method="post">{% csrf_token %}
    <label for="key">Key</label>
    <input id="key" type="password" name="key"><br>
    <label for="staging">Staging</label>
    <input id="staging" type="text" name="staging"><br>
    <input type="submit" value="OK">
</form>