#title {
    margin: 0;
    padding: 0;
    background-color: black;
}

h1{
    text-align: center;
    color: white;
}

.file {
    color: black;
    background-color: white;
    border: none;
    height: 4%;
}

.file:hover {
    background-color: lightgray;
}

body {
    background-color: white;
}
